<section class='container d-flex flex-column flex-md-row px-2 my-2 my-md-5'>
    <div class='content col-12 col-md-7 col-lg-8 p-0 pr-md-3'>
        <div class='col-12 p-0 main-preview mb-4'>
            <%if @listing.picture.attached?%>
                <%=image_tag @listing.picture, alt: @listing.name, class:"thumbnail card-img top"%>
            <%else%>
                <%=image_tag "default.jpg", alt: "default picture", class:"thumbnail card-img top"%>
            <%end%>
        </div>
    </div>
    <div class='sidebar col-lg-4 p-0 mx-2 d-md-block'> 
        <h1 class='mb-sm-2 mb-md-5'><%=@listing.name%></h1>
        <h5 class='mb-2'>Category: <%=@listing.category.name%></h2>
    
        <%@listing.dietary_options.each do |option|%>
        <span class='badge badge-pill badge-info'><%=option.name%></span>
        <%end%>
        <h5 class='text-muted'>Price: <%=format_price(@listing.price)%></h5>
        <p><%=@listing.description%></p>

        <%if current_user && @listing.sold == false %>
            <%=button_to "Buy: #{format_price(@listing.price)}",
            create_checkout_session_path,
            remote: true,
            method: :post,
            params: {id: @listing.id},
            class: 'btn btn-success mb-3 pr-2'%>
        <%elsif @listing.sold%>
            <button class='btn btn-secondary' disabled>SOLD OUT</button>
        <%else%>
            <%=button_to "Login to buy", new_user_session_path, class: "btn btn-info"%>
        <%end%>

        <!--Options only available to the seller-->
        <div class='container'>
            <%if current_user && current_user.id == @listing.user_id%>
                <div class='d-flex justify-content-equally'>
                    <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning mr-2" %>
                    <%= link_to "Delete", delete_listing_path(@listing.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
                </div>
            <%end%>
        </div>

    </div>

</section>
