<nav class="navbar navbar-light navbar-expand-md sticky-top">
    <div class="container-fluid">
        <%= link_to "Crumbl", root_path, class: "navbar-brand"%>
    </div>

    <ul class="navbar-nav mr-5-lg">
    <%if user_signed_in?%>
    <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "All Listings", listings_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link"%>
    </li>
        <!--Displays custom welcome message-->
        <span>Hello, <%=current_user.email%></span> 
    <%else%>
    <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
    </li>
    <%end%>
    </ul>
</nav>